<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shagalalab.qqkeyboard">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/ime_name"
        android:icon="@mipmap/ic_launcher"
        android:name=".QqKeyboardApplication"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="645168c2bc5f858f9c7c043d79712d53d8d249ff" />

        <activity android:name=".settings.ImePreferences"
            android:label="@string/settings_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.AboutActivity"
            android:theme="@android:style/Theme.DeviceDefault.Light.DarkActionBar" />

        <service android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>

</manifest>
