<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.shagalalab.qqkeyboard">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:label="@string/ime_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="true">

        <activity android:name=".settings.ImePreferencesActivity"
            android:label="@string/settings_name"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <activity android:name=".settings.about.AboutActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar" />

        <service android:name=".SoftKeyboard"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method" />
        </service>
    </application>

</manifest>
